@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.text-gradient {
  background: linear-gradient(113deg, #690F8D 1.26%, rgba(25, 14, 175, 0.35) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-gradient2 {
  background: linear-gradient(180deg, #FFF 0%, rgba(250, 250, 250, 0.41) 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}


/* En tu archivo CSS (por ejemplo, globals.css) */
.card {
  background-size: cover; /* Asegura que la imagen de fondo cubra todo el Card */
  background-position: center; /* Centra la imagen de fondo */
  transition: transform 0.3s ease; /* Transición suave para efectos de hover */
}

.card:hover {
  transform: scale(1.05); /* Efecto de zoom al pasar el ratón por encima */
}

/* En styles/fonts.css */
@font-face {
  font-family: 'Tomato Grotesk';
  src: url('/TomatoGrotesk-Regular.ttf') format('truetype');
  font-weight: 400; /* Regular */
  font-style: normal;
}

@font-face {
  font-family: 'Tomato Grotesk';
  src: url('/TomatoGrotesk-Medium.ttf') format('truetype');
  font-weight: 500; /* Medium */
  font-style: normal;
}

@font-face {
  font-family: 'Tomato Grotesk';
  src: url('/TomatoGrotesk-SemiBold.ttf') format('truetype');
  font-weight: 600; /* Semibold */
  font-style: normal;
}

@layer utilities {
  .paused {
    animation-play-state: paused;
  }
}

.featuresCard {
  border-top: var(--hover-bg-color) 8px solid;
}
.featuresCard::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 0;
  background-color: var(--hover-bg-color);
  transition: height 0.5s ease-in-out;
  z-index: 0;
  display: none;
}

.featuresCard:hover::before {
  height: 100%;
}

.featuresCard:hover .textHovered{
  color: var(--hover-color); /* Cambia el color del texto a blanco */
  z-index: 100;
  transition: color 0.5s ease-in-out; /* Agrega una transición al color */
}


.featuresCard:hover .text-new-black{
  color: white; /* Cambia el color del texto a blanco */
  z-index: 100;
  transition: color 0.5s ease-in-out; /* Agrega una transición al color */
}

.featuresCard:hover .text-white{
  color: black; /* Cambia el color del texto a blanco */
  z-index: 100;
  transition: color 0.5s ease-in-out; /* Agrega una transición al color */
}
.featuresCard:hover .opacity-25 {
  opacity: 1; /* Cambia la opacidad de la imagen a 100% */
  transition: opacity 0.5s ease-in-out; /* Agrega una transición a la opacidad */

}

.faq-example {
  display: grid;
  grid-template-rows: auto 0; /* Inicialmente, solo se muestra el texto */
  transition: grid-template-rows 500ms ease-in-out;
}

.faq-example > div:first-child {
  /* Contenedor del texto */
}

.faq-example > div:last-child {
  /* Contenedor de la imagen */
  max-height: 0;
  overflow: hidden;
  transition: max-height 500ms ease-in-out, opacity 500ms ease-in-out;
  opacity: 0;
}

.faq-example:hover {
  grid-template-rows: auto 200px; /* Al hacer hover, asigna espacio para la imagen */
}

.faq-example:hover > div:last-child {
  max-height: 200px; /* Altura máxima para la imagen */
  opacity: 1;
}

.imageBox {
  transition: opacity 500ms ease-in-out;
}
